[submodule "cpims-ovc-3.0"]
	path = cpims-ovc-3.0
	url = git@github.com:WalterBanda/cpims-ovc-3.0.git
[submodule "cpims-dcs-3.0"]
	path = cpims-dcs-3.0
	url = git@github.com:WalterBanda/cpims-dcs-3.0.git
[submodule "openmrs-module-kenyaemr"]
	path = openmrs-module-kenyaemr
	url = git@github.com:WalterBanda/openmrs-module-kenyaemr.git
[submodule "openmrs-module-kenyaemrIL"]
	path = openmrs-module-kenyaemrIL
	url = git@github.com:WalterBanda/openmrs-module-kenyaemrIL.git
[submodule "openmrs-module-kenyaui"]
	path = openmrs-module-kenyaui
	url = git@github.com:WalterBanda/openmrs-module-kenyaui.git
[submodule "ehrreports"]
	path = ehrreports
	url = git@github.com:WalterBanda/ehrreports.git
[submodule "ipd"]
	path = ipd
	url = git@github.com:WalterBanda/ipd.git
